# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

title: Nara Kang
description: Bay is a minimal Jekyll Theme.
baseurl: "/bay"
url: "https://nara-kang.github.io"

header:
  pages:
    - name: Home
      slug: /
    - name: CV
    - name: Research

footer:
  show_powered_by: true
  contact:
    - type: email
      name: Email
      value: narakang@msu.edu
 

# Build settings
markdown: kramdown
sass:
    style: :compressed
plugins:
  - jekyll-feed

# Excluded items
exclude:
  - .sass-cache/
  - .jekyll-cache/
  - feed.xml
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

# Used for defeating caching
version: 1
